<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ .Site.Title }}</title>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="stylesheet" href="/ext/colorbox/colorbox.css">
    {{- partial "html-head.html" . -}}
  </head>

  <body>
    {{- partial "page-header.html" . -}}
    <div class="container mt-2">
      {{ block "main" . }}{{ end }}
    </div>
    {{- partial "page-footer.html" . -}}

    <script src="/ext/jquery/jquery-3.4.1.min.js"></script>
    <script src="/ext/popper/popper.min.js"></script>
    <script src="/ext/bootstrap/bootstrap.min.js"></script>
    <script src="/ext/colorbox/jquery.colorbox-min.js"></script>
    <script src="/js/main.js"></script>
    {{- partial "html-foot.html"   . -}}
  </body>
</html>
